<h1 class= "light-green-text valign-wrapper">
  <i class="medium material-icons">accessibility</i>
  <%=t('defaults.title.edit', item: User.model_name.human)%> 
</h1>      
<%= render 'form', user:@user %>
<%= link_to t('defaults.users'), users_path,class:"btn blue-grey" %>
