<h1 class= "light-green-text valign-wrapper">
  <i class="medium material-icons">account_circle</i>
  <%=t('.title')%>
</h1>      
<%= render 'form' ,user:@user %>
<%= link_to t('defaults.back'), users_path,class:"btn blue-grey" %>
<div class="fixed-action-btn" onclick="helpbtn();">
  <a id="menu" class="btn-large btn-floating waves-effect waves-light"><i class="material-icons">help</i></a>
</div>
<div class="tap-target light-green lighten-2" data-target="menu">
  <div class="tap-target-content">
    <div class= "row teal-text text-darken-4">
      <h5 class= "col s12 offset-s3 offset-l1"><%=t('.title')%></h5>
      <p>ログインするとわんこをコレクションできます</p>
      <p>メールを送ることはないので</p>
      <p>適当なメルアドでも大丈夫ですよ！</p>
    </div>
  </div>
</div>