<% if object.errors.any? %>
  <div class="card-panel amber darken-2">
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
