<% unless flash.empty? %>
    <% flash.each do |message_type, message| %>
      <%if message_type == "alert"%>
        <div class="card-panel amber darken-2">
        <%else%>
        <div class="card-panel teal accent-4">
      <%end%>
      <%= message %>
    <% end %>
  </div>
<%end%>