<!--Footer-->
<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5>S O D A T E Y A</h5>
				<a>Was it fun? Thank You For Playing!!</a>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5>L I N K S</h5>
				<ul>
					<li><%=link_to "利用規約",page_path('teams')%></li>
					<li><%=link_to "プライバシーポリシー",page_path('privacy_policy')%></li>
					<li><%=link_to "Git Hub","https://github.com/kellyuka/pf_sodateya",target:'_blank'%></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			©Copyright 2022 SODATEYA
			<%=link_to "https://twitter.com/gloomy_yuka", target:'_blank', class:"right" do%>
			creator: KELLY<i class="fa fa-twitter"></i>
			<%end%>
		</div>
	</div>
</footer>
<!--END Footer-->