<!--Footer-->
<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5>S O D A T E Y A</h5>
				<a>Was it fun? Thank You For Playing!!</a>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5>L I N K S</h5>
				<ul>
					<li><%=link_to "利用規約","#"%></li>
					<li><a href="https://github.com/kellyuka/pf_sodateya" target='_blank'>Git hub</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2022 SODATEYA
			
			<div class= "right">
				<a>creator:KELLY</a>
				<%=link_to "https://twitter.com/gloomy_yuka" ,target:'_blank' do%>
				<i class="fa fa-twitter"></i>
				<%end%>
			</div>
		</div>
	</div>
</footer>
<!--END Footer-->