<!-- header-->
<nav>
<div class="nav-wrapper ">
  <div class="row">
  <div class="col offset-s1">
    <a href="/" class="brand-logo"><i class="large material-icons">local_florist</i>S O D A T E Y A</a>
  </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <% if logged_in?%>
      <li><%= link_to "MY COLLECTIONS", collections_path %></li>
      <li><%= link_to "PROFILE", edit_user_path(current_user.id) %> </li>
      <li><%= link_to "LOGOUT", '/logout', method: :post %></li>
    <% else %>
      <li><%= link_to "LOGIN", '/login', method: :get %></li>
    <% end %>
    </ul>
  </div>
</div>
</nav>
<!--END header-->