<!-- header-->
<nav>
<div class="nav-wrapper ">
  <div class="row">
  <div class="col offset-s1">
    <a href="/" class=" brand-logo "><i class="material-icons">sunny</i>S O D A T E Y A</a>
  </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <% if logged_in?%>
      <li><%= link_to "コレクション一覧", collections_path %></li>
      <li><%= link_to "プロフィール", edit_user_path(current_user.id) %> </li>
      <li><%= link_to "ログアウト", '/logout', method: :post %></li>
    <% else %>
      <li><%= link_to "ログイン", '/login', method: :get %></li>
    <% end %>
    </ul>
  </div>
</div>
</nav>
<!--END header-->