<p>つまりあなたのわんちゃんは...</p>
<p><%=wanko.name%></p>
<%= image_tag wanko.picture_url , size: '100x100'%>
<%if logged_in?%>
    <%if current_user.collection?(wanko)%>
        <%=render 'nocollectionbutton', wanko:wanko%>  
    <%else%>
        <%=render 'collectionbutton', wanko:wanko%>
    <%end%>
<%else%>
<%end%>   