<button id="js-wanko-already_collection-button-#{wanko.id}" class="btn-large disabled">コレクション済</button>
<%if count < 9%>
	<p>あと<%= 9 - count %>種類だよ！頑張って！</p>
<%elsif count == 9%>
	<%=link_to "表彰式へ",games_sugosugi_path, class:"btn-large"%>
	<br>
	<br>
<%end%>
<%=link_to "https://twitter.com/share?url=#{request.url}/&text=あなたのわんちゃんは#{ @wanko.name }です！/&hashtags=SODATEYA,RUNTEQ", target: '_blank',class:"btn blue" do %>
<%="twitterでシェアする"%><i class="fa fa-twitter "></i>
<%end%>